*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}

header{
    width: 100vw;
    background-image: url(../imgs/image.png);
    background-size:cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.nav{
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.nav p{
    color: blue;
    font-size: 20px;
}

.nav a{
    text-decoration: none;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    color: white;
    gap: 60px;
    font-size: 80px;
}
.nav input{
    align-items: end;
}
.btn{
    background-color: #DE4123;
    color: #22222274;
    width: 900px;
    height: 30px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
.hero .left{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero{
    display: flex;
    justify-content: space-between;
    padding: 70px 70px;
}
.hero h1{
    color: whitesmoke;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.hero h1 span{
    color: orangered;
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
}
.hero p{
    color: rgba(245, 245, 245, 0.751);
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    width: 200px;
    height: 250px;
    padding: 10px;
    gap: 15px;
}
.card .bttn{
    background-color: #DE4123;
    color: black;
    width: 180px;
    height: 28px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
.card .logo{
    color: aliceblue;
}
.card p{
    font-size: 10px;
}
.card p.pri{
    font-family: 'Times New Roman', Times, serif;
    font-size:10px;
}
.card a{
    font-size: 10px;
    text-decoration: none;
    color: #DE4123;
}
.card a span{
    color: rgba(245, 245, 245, 0.751);
}
.card input{
    background-color: black;
    color: white;
    border: 0;
    border-bottom: 0.5px solid  #de422384;
}
.sec{
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bttn.one{
    background-color:white;
    color: #DE4123;
}